:root {
    --pc: #333333;
    --lbc: #484848;
    --sc: #060050;
    --sc2: #8E3ACC;
    --wc: #ffffff;
    --wlc: #F8F8F8;
    --gc: #cccccc;
    --lgc: #9C9C9C;
    
    --bgc: #29083c;

}


html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: var(--pc);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 500;
}

h2{
    font-size: 36px;
    color: var(--wc);
    line-height: 32px;
}
h3{
    font-weight: 600;
    font-size: 30px;
    line-height: 30px;
    color: var(--lbc);
}
h5{
    font-weight: 500;
    font-size: 18px;
    color: var(--lbc);
}
p {
    line-height: 24px;
}
.paragraph{
    font-weight: 400;
    font-size: 16px;
    line-break: 22px;
    color: var(--lgc);
}
ul {
    padding: 0;
    margin: 0;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
    color: var(--pc);
}

a:hover {
    text-decoration: none;
}

button {
    border: none;
}

.custom-btn {
    font-weight: 500;
    font-size: 15px;
    border-radius: 5px;
    background: var(--bgc);
    display: inline-block;
    color: var(--wc);
    padding: 10px 20px;
    transition: 0.3s;
}
.custom-btn:hover {
    background: #400e5e;
    color: var(--wc);
}

.load-more a{
    font-weight: 600;
    font-size: 18px;
    color: var(--wc);
    background: var(--bgc);
    border-radius: 5px;
    padding: 15px 40px;
}
.load-more a:hover{
    background: var(--sc);
}

.add-cart-btn{
    font-weight: 500;
    font-size: 18px;
    border: 1px solid var(--lbc);
    padding: 10px 20px;
    background: none;
    transition: 0.4s;
}
.add-cart-btn:hover{
    background: var(--bgc);
    color: var(--wc);
}

.custom-btn.white-custom{
    background: var(--wc);
    border: 1px solid var(--sc);
    color: var(--sc);
}
.section-title h2 {
    font-size: 50px;
    line-height: 52px;
    font-weight: 600px;
    color: var(--sc);
    text-transform: capitalize;
}

.section-title h6 {
    max-width: 650px;
    margin: 0 auto;
    font-size: 20px;
    font-weight: 500;
    color: var(--pc) !important;
}

.section-title span {
    font-size: 24px;
    font-weight: 500;
    color: var(--pc);
}

.about-title h4 {
    font-size: 45px;
    color: var(--sc);
    line-height: 36px;
    font-weight: 600;
}

.about-title span {
    font-size: 24px;
    color: var(--sc);
    display: inline-block;
    padding-bottom: 10px;
}

.scrolled {
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2;
    transition: .4s;
    background: var(--bgc);
}
